<% include partials/header %>


<h1>show page of:"<%=campground.name%>"</h1>
<p><%=campground.image%></p>
<p><%=campground._id%></p>
<img src="<%=campground.image%>">

<% include partials/footer %>